In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

> #### Manualy remove the first few rows of CSV as they do not match the formatting of the data required

In [4]:
flight_data_raw = "./Resource/Detailed_Statistics_Departures.csv"
# Read the data file and store it in a pandas DataFrame.
flight_data_raw_df = pd.read_csv(flight_data_raw, header=0)
flight_data_raw_df.head(10)

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,UA,01/01/1988,61.0,NaN,ORD,07:00,06:58,143.0,148.0,-2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UA,01/01/1988,63.0,NaN,ORD,08:00,08:00,145.0,141.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UA,01/01/1988,65.0,NaN,ORD,09:00,08:57,150.0,138.0,-3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UA,01/01/1988,67.0,NaN,ORD,10:00,09:58,138.0,140.0,-2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UA,01/01/1988,69.0,NaN,ORD,11:00,10:57,136.0,135.0,-3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,UA,01/01/1988,73.0,NaN,ORD,13:00,13:00,140.0,151.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,UA,01/01/1988,77.0,NaN,ORD,15:00,14:59,140.0,137.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,UA,01/01/1988,79.0,NaN,ORD,16:00,16:02,142.0,153.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,UA,01/01/1988,81.0,NaN,ORD,17:00,16:59,148.0,150.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,UA,01/01/1988,85.0,NaN,ORD,19:00,19:09,148.0,141.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
flight_data_raw_df.columns

Index(['Carrier Code', 'Date (MM/DD/YYYY)', 'Flight Number', 'Tail Number',
       'Destination Airport', 'Scheduled departure time',
       'Actual departure time', 'Scheduled elapsed time (Minutes)',
       'Actual elapsed time (Minutes)', 'Departure delay (Minutes)',
       'Wheels-off time', 'Taxi-Out time (Minutes)', 'Delay Carrier (Minutes)',
       'Delay Weather (Minutes)', 'Delay National Aviation System (Minutes)',
       'Delay Security (Minutes)', 'Delay Late Aircraft Arrival (Minutes)',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34'],
      dtype='object')

### Clean DF

In [7]:
clean_df = flight_data_raw_df[['Carrier Code', 'Date (MM/DD/YYYY)', 'Flight Number', 'Tail Number',
       'Destination Airport', 'Scheduled departure time',
       'Actual departure time', 'Scheduled elapsed time (Minutes)',
       'Actual elapsed time (Minutes)', 'Departure delay (Minutes)',
       'Wheels-off time', 'Taxi-Out time (Minutes)', 'Delay Carrier (Minutes)',
       'Delay Weather (Minutes)', 'Delay National Aviation System (Minutes)',
       'Delay Security (Minutes)', 'Delay Late Aircraft Arrival (Minutes)']]

In [8]:
clean_df.iloc[[283822, 283823]]

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
283822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283823,SOURCE: Bureau of Transportation Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
clean_df = clean_df.drop([283822, 283823])

In [10]:
clean_df

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,UA,01/01/1988,61.0,NaN,ORD,07:00,06:58,143.0,148.0,-2.0,00:00,0.0,0.0,0.0,0.0,0.0,0.0
1,UA,01/01/1988,63.0,NaN,ORD,08:00,08:00,145.0,141.0,0.0,00:00,0.0,0.0,0.0,0.0,0.0,0.0
2,UA,01/01/1988,65.0,NaN,ORD,09:00,08:57,150.0,138.0,-3.0,00:00,0.0,0.0,0.0,0.0,0.0,0.0
3,UA,01/01/1988,67.0,NaN,ORD,10:00,09:58,138.0,140.0,-2.0,00:00,0.0,0.0,0.0,0.0,0.0,0.0
4,UA,01/01/1988,69.0,NaN,ORD,11:00,10:57,136.0,135.0,-3.0,00:00,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283817,UA,12/31/2021,1714.0,N462UA,IAH,13:55,13:50,251.0,240.0,-5.0,14:04,14.0,0.0,0.0,0.0,0.0,0.0
283818,UA,12/31/2021,2002.0,N77261,IAH,07:29,07:25,246.0,229.0,-4.0,07:35,10.0,0.0,0.0,0.0,0.0,0.0
283819,UA,12/31/2021,2375.0,N852UA,DEN,14:05,14:07,275.0,306.0,2.0,14:20,13.0,0.0,0.0,33.0,0.0,0.0
283820,UA,12/31/2021,2605.0,N460UA,ORD,08:00,07:58,157.0,171.0,-2.0,08:15,17.0,0.0,0.0,0.0,0.0,0.0
283821,UA,12/31/2021,2624.0,N17229,DEN,07:55,07:50,273.0,297.0,-5.0,08:06,16.0,0.0,0.0,19.0,0.0,0.0

In [11]:
clean_df.isna().sum()

Carrier Code                                    0
Date (MM/DD/YYYY)                               0
Flight Number                                   0
Tail Number                                 72614
Destination Airport                             0
Scheduled departure time                        0
Actual departure time                           0
Scheduled elapsed time (Minutes)                0
Actual elapsed time (Minutes)                   0
Departure delay (Minutes)                       0
Wheels-off time                                 0
Taxi-Out time (Minutes)                         0
Delay Carrier (Minutes)                         0
Delay Weather (Minutes)                         0
Delay National Aviation System (Minutes)        0
Delay Security (Minutes)                        0
Delay Late Aircraft Arrival (Minutes)           0
dtype: int64

In [48]:
clean_df.describe()

,Flight Number,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
count,283822.000000,283822.000000,283822.000000,283822.000000,283822.000000,283822.000000,283822.000000,283822.000000,283822.000000,283822.000000
mean,771.352844,176.031171,165.595560,9.473931,17.842648,1.104872,0.368587,2.624268,0.004443,3.235510
std,527.704400,58.555061,68.657288,37.234741,17.768935,13.492606,8.948582,15.208487,1.136722,20.477663
min,1.000000,0.000000,0.000000,-24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,415.000000,142.000000,132.000000,-3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,683.000000,156.000000,150.000000,-1.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,997.000000,244.000000,231.000000,4.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2675.000000,309.000000,692.000000,1412.000000,372.000000,1412.000000,1009.000000,997.000000,345.000000,1186.000000

#### Assess if feature "Tail Number" is important

In [12]:
#Toral number of Nan's
clean_df["Tail Number"].isna().sum()

72614

In [60]:
# % of NaN's
print(f"% of NaN's in 'Tail Number': {((clean_df['Tail Number'].isna().sum()/clean_df['Tail Number'].shape[0])*100).round(2)} %")

% of NaN's in 'Tail Number': 25.58 %

#### "TAIL NUMBERS" may need to be dropped for sklearn

In [46]:
print(f"Number of unique Destinations : {clean_df['Destination Airport'].nunique()} ")
clean_df["Destination Airport"].value_counts()

Number of unique Destinations : 15

ORD    160359
DEN     65396
IAD     25910
IAH     22901
MIA      5241
MCO      2417
CLE       739
MDW       221
PHL       203
FLL       193
EGE        65
TPA        64
MTJ        49
RSW        47
PBI        17
Name: Destination Airport, dtype: int64

In [47]:
# clean_df.to_csv('./Resource/Flight_Data.csv', index=False)